/* Overall Settings */
*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}
html, body{
  width: 95vw;
  min-height: 100vh;
}
img, picture, svg{
  display: block;
  max-width: 100%;
}
body{
  font-family: 'Epilogue', sans-serif;
  font-weight: 100%;
}

*. *::before, *::after{
  box-sizing: border-box;
}

/* PARTS */
.header-button{
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.14px;
  line-height: 24px;
  color: #172339;
  cursor: pointer;
}
@media (min-width: 768px){
  .header-button{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
  }
}
@media (min-width: 1440px){
  .header-button{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
  }
}

.main-head{
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.52px;
  color: #172339;
  text-align: left;
}
@media (min-width: 768px){
  .main-head{
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.77px;
    text-align: left;
  }
}
@media (min-width: 1440px){
  .main-head{
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    text-align: left;
  }
}

.main-body{
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.09px;
  color: #49566D;
}
@media (min-width: 1440px){
  .main-body{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: justify;
  }
}

.main-button{
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: #FAF8F6;
}

.measure-head{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #172339;
}

.measure-body{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
  color: #49566D;
}

.testimonial-head{
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.42px;
  text-align: center;
  color: #FAF8F6;
}
@media (min-width: 1440px){
  .testimonial-head{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-align: left;
  }
}

.testimonial-quote{
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.09px;
  text-align: center;
  color: #F3EDE7;
}
@media (min-width: 1440px) {
  .testimonial-quote{
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 0.1px;
      text-align: left;
    }
}

.testimonial-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    text-align: center;
    color: #FAF8F6;
}
@media (min-width: 1440px) {
    .testimonial-name {
        text-align: left;
    }
}

.testimonial-title {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    color: #F3EDE7;
}
@media (min-width: 1440px) {
    .testimonial-title {
        text-align: left;
    }
}

.footer-text {
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.08px;
    text-align: center;
    color: #49566D;
}
@media (min-width: 768px) {
    .footer-text {
        text-align: left;
    }
}

header{
  width: 90%;
  margin-inline: auto;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 81px;
  height: 32px;
  cursor: pointer;
}

.header-button{
  width: 199px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #172339;
}
.header-button:hover{
  color: #FAF8F6;
  background: #172339;
}

@media (min-width: 768px) {
    header {
        margin-top: 40px;
    }
    .header-button {
        width: 219px;
        height: 56px;
    }
}

@media (min-width: 1440px) {
    header{
        width: 77%;
        margin-top: 50px;
    }
    .header-button {
        width: 219px;
        height: 56px;
    }
}


/* Main-Container */
main {
    text-align: center;
}


.main{
  width: 90%;
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  flex-direction:  column;
}

.main-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.curve-align{
  position: relative;
}

.curve{
  width: 152px;
  height: 19px;
  position: absolute;
  top: -8.32px;
  left: 154px;
}

.main-head{
  margin-top: 8.2px;
}

.main-body{
  margin-top: 32px;
}

.main-button-container{
  text-align: left;
}

.main-image{
  margin-top: 56px;
  width: 500px;
  height: 400px;
  border-radius: 10px;
}

.main-button{
  width: 256px;
  height: 61px;
  margin-top: 32px;
  border-radius: 6px;
  background: #172339;
}

.main-button:hover{
  background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

@media (min-width: 768px){
  .main{
    margin-top: 80px;
    flex-direction: row;
    position: relative;
  }
  .main-section{
    margin-top: 42.68px;
  }
  .curve{
    width: 231.19px;
    height: 29px;
    top: -16px;
    left: 223px;
  }
  .main-head{
    width: 487px;
    margin-top: 16.32px;
  }
  .main-body{
    width: 350px;
    margin-top: 40px;
  }
  .main-image{
    width: 300px;
    margin-top: 80px;
    position: absolute;
    top: -88px;
    left: 408px;
    z-index: -1;
  }
}
@media (min-width: 1440px){
  .main-container{
    width: 77%;
    margin-inline: auto;
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main{
    flex: 74%;
  }
  .curve{
    width: 287px;
    height: 36px;
    top: -21.32px;
    left: 289px;
  }
  .main-image{
    width: 350px;
    margin-top: 80px;
    position: absolute;
    top: -103px;
    left: 474px;
    z-index: -1;
  }
  .main-head{
    width: 635px;
  }
}

.measures{
  width: 90%;
  margin-bottom: 236px;
  display: flex;
  flex-direction: column;
}

.measure-text{
  text-align: center;
}
@media (min-width: 768px){
  .measures{
    margin-top: 128px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .measure-head{
    margin-top: 0;
  }
}

@media (min-width: 1440px){
  .measures{
    flex: 17.2%;
    margin-left: 8.65%;
    margin-top: 173px;
    height: 375px;
    flex-direction: column;
  }
  .measure-text{
    text-align: left;
  }
  .ms2{
    margin-top: 63px;
  }
  .measure-head{
    margin-top: 0;
  }
}


.testimonial {
    width: 100%;
    height: 748px;
    margin: 56px auto 0px;
    padding-bottom: 15px;
    position: relative;
}
@media (min-width: 768px) {
    .testimonial {
        height: 684px;
        width: 90%;
        margin-block: 0px;
        padding: 0px;
    }
}
@media (min-width: 1440px) {
    .testimonial {
        width: 77%;
        height: 545px;
        margin-top: 236px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

.testimonial-content {
    width: 92%;
    height: 865px;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -171px;
    left: 4%;
}
@media (min-width: 768px) {
    .testimonial-content {
        width: 83%;
        height: 801px;
        left: 9%;
    }
}
@media (min-width: 1440px) {
    .testimonial-content {
        width: 78%;
        height: 600px;
        top: -55px;
        left: 13%;
        flex-direction: row;
        justify-content: space-between;
    }
}

.boss {
    width: 300px;
    height: 300px;
    margin-inline: auto;
    border-radius: 10px;
}
@media (min-width: 1440px) {
    .boss {
        width: 400px;
        height: 400px;
        margin-right: 3%;
    }
}

.curve2 {
    width: 49.27px;
    height: 40px;
    margin-top: 40px;
    margin-inline: auto;
}
@media (min-width: 1440px) {
    .curve2 {
        width: 64.05px;
        height: 52px;
        margin-top: -80px;
        margin-right: 6%;
    }
}

.testimonial-head {
    margin-top: 37px;
}
@media (min-width: 1440px) {
    .testimonial-head {
        margin-top: 88px;
    }
}

.testimonial-quote {
    margin-top: 40px;
}

.testimonial-name {
    margin-top: 40px;
}

.testimonial-title {
    margin-top: 0px;
}

.testimonial-background {
    width: 100%;
    height: 748px;
    border-radius: 15px;
    background-color: #172339;
}
@media (min-width: 768px) {
    .testimonial-background {
        height: 684px;
    }
}
@media (min-width: 1440px) {
    .testimonial-background {
        height: 545px;
    }
}


footer {
    width: 100%;

    text-align: center;
    position: relative;
}
@media (min-width: 768px) {
    footer {
        padding-block: 72px;
    }
}
@media (min-width: 1440px) {
    footer {
        padding-block: 95px 72px;
    }
}

.footer-content {
    width: 33.3333333%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .footer-content {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1440px) {
    .footer-content {
        width: 77%;
    }
}

.footer-text {
    margin-block: 33px;
    width: 150px;
}
@media (min-width: 768px) {
    .footer-text {
        margin-block: 0px;
    }
}

.socials {
    width: 116px;
    display: flex;
    justify-content: space-evenly;
}

.social {
    width: 20px;
}

.footer-background {
    width: 100%;
    height: 286px;
    margin-inline: auto;
    background: var(--cream);
    position: absolute;
    top: -15px;
    z-index: -1;
}
@media (min-width: 768px) {
    .footer-background {
        height: 640px;
        top: -463px;
    }
}
@media (min-width: 1440px) {
    .footer-background {
        height: 464px;
        top: -265px;
    }
}
